/* reset css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Universal Styles */

body {
    background-color: #5a5a5a;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.text {
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 2.1rem;
    font-family: "Poppins", sans-serif;
}

.heading {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    color: #76F5C7;
}


/* Navigation/Header */
header {
    padding-bottom: 3.4rem;
}
.nav {
    display: inline-flex;
    position: fixed;
    background-color: #CECECE;
    width: 100%;
    padding: 0.5rem 1rem;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.nav .title {
    font-weight: 500;
    font-size: 1.5rem;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-end;
}

.nav li {
    padding: 0 1rem 0 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #5a5a5a
}

/* Landing */
#landing {
    width: 100%;
    background-image: url("/images/reduced/IMG_7103_med.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 21rem 0;
}

#landing div {
    display: flex;
    width: 100%;
    justify-content: center;
}

#landing .desktop {
    text-align: center;
    font-size: 6rem;
    height: auto;
    padding: 1rem 3rem;
    background-color: #76F5c7;
}
/* About */
#About  {
    display: flex;
    padding-top: 3rem;
}

#About .image {
    background-image: url("images/reduced/globe.jpg");
    width: 25rem;
    height: 25rem;
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
}

#About .content {
    margin-top: 1.5rem;
    display: inline-flex;
    justify-content: center;
}

#About .content p {
    width: 25%;
    justify-self: first baseline;
    margin-left: 3rem;
    min-width: 475px;
}
/* Services */
#Services {
    display: flex;

}

#Services .container {
    margin-top: 3em;
}

#Services .content {
    display: inline-flex;
}

#Services .subheading {
    text-align: center;
}

#Services .content .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Services .video .image{
    background-image: url("/images/reduced/IMG_7462_med.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25rem;
    height: 35rem;
}

#Services .photo .image {
    background-image: url("/images/reduced/IMG_7461_med.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25rem;
    height: 35rem;
}

#Services .audio .image {
    background-image:  url("/images/reduced/IMG_7454_med.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 25rem;
    height: 35rem;
}

/* Crew */

/* Footer */
footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #CECECE;
    color: black;
}

footer .copyright {
    margin-left: 1rem;
}

footer .filler {
    margin-right: 1rem;
}