/* reset css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Universal Styles */
body {
    background-color: #5a5a5a;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.text {
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 2.1rem;
    font-family: "Poppins", sans-serif;
}

.heading {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    color: #76F5C7;
}

@media only screen and (max-width: 810px) {
    .text {
        font-size: 1.2rem;
    }
    
    .heading {
        font-size: 2.5rem;
    }
}

/* Navigation/Header */
header {
    padding-bottom: 3.4rem;
}

.mob-nav {
    display: none;
}

.nav {
    display: inline-flex;
    position: fixed;
    background-color: #CECECE;
    width: 100%;
    padding: 0.5rem 1rem;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.nav .title {
    font-weight: 500;
    font-size: 1.5rem;
}

.nav ul {

    display: inline-flex;
    list-style-type: none;
    justify-content: flex-end;
}

.nav li {
    padding: 0 1rem 0 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #5a5a5a;
}

@media only screen and (max-width: 810px) {
    .nav a {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 390px) {
    .nav {
        display: none;
    }

    .mob-nav {
        display: inline-flex;
        position: fixed;
        background-color: #CECECE;
        width: 100%;
        padding: 0.5rem 1rem;
        color: black;
        justify-content: space-between;
        align-items: center;
    }

    .mob-nav img {
        width: 3rem;
        height: 3rem;
    }
    
    .mob-nav ul {
    
        display: inline-flex;
        list-style-type: none;
        justify-content: flex-end;
    }
    
    .mob-nav li {
        padding: 0 1rem 0 1rem;
    }
    
    .mob-nav a {
        text-decoration: none;
    }
}

/* Landing */
#landing {
    width: 100%;
    background-image: url("/images/reduced/IMG_7103_med.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 21rem 0;
}

#landing div {
    display: flex;
    width: 100%;
    justify-content: center;
}

#landing .desktop {
    text-align: center;
    font-size: 6rem;
    height: auto;
    padding: 1rem 3rem;
    background-color: #76F5c7;
    color: black;
}

@media only screen and (max-width: 810px) {
    #landing {
        padding: 7rem 0;
    }

    #landing .tablet {
        font-size: 4rem;
        color: black;
        background-color: #76F5C7dd;
    }
}

@media only screen and (max-width: 390px) {
    #landing {
        padding: 8rem;
    }

    #landing .mobile {
        font-size: 6rem;
        color: #76F5C8;
        /* background-color: #76F5C7DD; */
        background-color: transparent;
    }
}

/* About */
#About  {
    display: flex;
    padding-top: 3rem;
}

#About .image {
    background-image: url("images/reduced/globe.jpg");
    width: 25rem;
    height: 25rem;
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
}

#About .content {
    display: inline-flex;
    margin-top: 1.5rem;
    justify-content: center;
}

#About .content p {
    width: 25%;
    justify-self: first baseline;
    margin-left: 3rem;
    min-width: 475px;
}

@media only screen and (max-width: 810px) {
    #About .image {
        width: 15rem;
        height: 15rem;
    }
    #About .content p {
        width: 10%;
        max-width: 10%;
        font-size: 0.9rem;
        overflow: hidden;
    }
}
/* Services */
#Services {
    display: flex;
}

#Services .container {
    margin-top: 3rem;
}

#Services .content {
    display: inline-flex;
    padding: 0 10rem;
}

#Services .subheading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#Services .content .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Services .video .image{
    background-image: url("/images/reduced/IMG_7462_med.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25rem;
    height: 35rem;
}

#Services .photo .image {
    background-image: url("/images/reduced/IMG_7461_med.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25rem;
    height: 35rem;
}

#Services .audio .image {
    background-image:  url("/images/reduced/IMG_7454_med.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 25rem;
    height: 35rem;
}

#Services .text {
    text-align: center;
    padding-top: 1.5rem; 
    width: 80%;
}
@media only screen and (max-width: 810px) {
    #Services {
        padding: 0;
        margin: 0;
    }
    #Services .content {
        margin: 0;
        padding: 0;
    }
    
    #Services .subheading { 
        font-size: 1.1rem;
        font-weight: 400;
    }

    #Services .column {
        margin: 0;
        padding: 0;
    }

    #Services .video {
        flex: 30%;
    }

    #Services .photo {
        flex: 30%;
    }
    #Services .audio {
        flex: 30%;
    }

    #Services .video .image {
        width: 17rem;
        height: 27rem;
        padding: 0;
        margin: 0;
    }
    #Services .photo .image {
        width: 17rem;
        height: 27rem;
    }
    #Services .audio .image {
        width: 17rem;
        height: 27rem;
    }

    #Services .text {
        flex: 30%;
        font-size: 1rem; 
    }
}

/* Crew */
#Crew {
    display: flex;
    margin-bottom: 3rem;
}

#Crew .container{
    margin-top: 3rem;
}

#Crew .heading {
    margin-bottom: 1rem;
}

#Crew .text {
    align-self: first baseline;
    width: 25%;
    margin-left: 2rem;
    margin-right: 2rem;
}

#Crew .person {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 1rem 1rem 1rem;
}

#Crew .person .image {
    background-image: url("images/reduced/IMG_7237_med.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20rem;
    height: 23rem;
}

#Crew .person2 {

    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 2rem 1rem 0rem;
}

#Crew .person2 .image {
    background-image: url("images/reduced/IMG_7351_med.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 20rem;
    height: 23rem;
}

@media only screen and (max-width: 810px) {
    #Crew .text {
        font-size: 1rem;
        margin: 0 1rem;
        width: 60%;

    }

    #Crew .person {
        width: 100%;
        align-items: flex-start;
    }
    #Crew .person .image {
        width: 15rem;
        height: 15rem;
    }

    #Crew .person2 {
        width: 100%;
        align-items: flex-start;
    }

    #Crew .person2 .image {
        width: 15rem;
        height: 15rem;
    }
}


/* Footer */
footer {

    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #CECECE;
    color: black;
}

footer .copyright {
    margin-left: 1rem;
}

footer .filler {
    margin-right: 1rem;
}